<!-- <div *ngIf="expenses">
  <ul>
    <li *ngFor="let e of expenses">
      {{e.id}} - {{e.amount}} - {{e.name}} - {{e.price}} - {{e.group}} - {{e.desc}}
    </li>
  </ul>
</div> -->

<table *ngIf="expenses">
  <tr>
    <th>Id</th>
    <th>Amount</th>
    <th>Name</th>
    <th>Price</th>
    <th>Group</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let expense of expenses">
    <td>{{expense.id}}</td>
    <td>{{expense.amount}}</td>
    <td>{{expense.name}}</td>
    <td>{{expense.price}}</td>
    <td>{{expense.group}}</td>
    <td>{{expense.desc}}</td>
    <td>
      <button (click)="deleteExpense(expense)">delete</button>
    </td>
  </tr>
</table>
