<div>
  <label>Expense id: </label>
  <input [(ngModel)]="expense.id">
</div>
<div>
  <label>Expense name: </label>
  <input [(ngModel)]="expense.name">
</div>
<div>
  <label>Expense amount: </label>
  <input [(ngModel)]="expense.amount">
</div>
<div>
  <label>Expense price: </label>
  <input [(ngModel)]="expense.price">
</div>
<div>
  <label>Expense group: </label>
  <input [(ngModel)]="expense.group">
</div>
<div>
  <label>Expense description: </label>
  <input [(ngModel)]="expense.desc">
</div>
<button>Add / Save</button>
